*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}
    
.topnav{
    overflow: hidden;
}

.topnav a{
    float: left;
}

nav > .topnav ul > li{
    float: right;
}

.m-school >{
    display: flex;
    justify-content: space-between;
}