*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.topnav{
    position: relative;
    overflow: hidden;
}

.topnav > h3{
    margin-top: 20px;
    margin-left: 20px;
}

.topnav a{
    float: left;
    margin-left: 10px;

}

.topnav-right{
    float: right;
    color: white;
}

.topnav-right > ul > li{
    display: inline-block;
    margin-right: 50px;
}

.Enroll{
    margin-right: 30px;
    color: white;
    background-color: #EC4067;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#sectmoringa > .m-school > .tech{
    margin-top: 70px;
    margin-left: 50px;
}

#sectmoringa > .m-school > .tech > h4{
    margin-bottom: 10px;
}

#sectmoringa > .m-school > .tech > h2{
    margin-bottom: 10px;
}

#sectmoringa > .m-school > .tech > .Enroll{
    margin-top: 20px;
}





