*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.topnav{
    position: relative;
    overflow: hidden;
}

.topnav a{
    float: left;
    margin-top: 20px;
    margin-left: 20px;

}

.topnav-right{
    float: right;
}

.topnav-right > ul > li{
    display: inline-block;
    margin-right: 50px;
}

.Enroll{
    margin-right: 30px;
}



