*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.topnav{
    position: relative;
    overflow: hidden;
}

.topnav > h3{
    margin-top: 20px;
    margin-left: 70px;
}

.topnav a{
    float: left;

}

.topnav-right{
    float: right;
    color: white;
}

.topnav-right > ul > li{
    color: white;
    display: inline-block;
    margin-right: 40px;
}

.Enroll{
    margin-right: 30px;
    color: white;
    background-color: #EC4067;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#sectmoringa > .m-school > .tech{
    margin-top: 70px;
    margin-left: 5px;
}

#sectmoringa > .m-school > .tech > h4{
    margin-bottom: 10px;
}

#sectmoringa > .m-school > .tech > h2{
    margin-bottom: 10px;
}

#sectmoringa > .m-school > .tech > .Enroll{
    margin-top: 20px;
}

#sectmoringa > .m-school > .tech > .Explore{
    color: #EC4067;
    background-color: white;
    border-color: #EC4067;
    border-style: rectangle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#sectmoringa > .m-school{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.m-school > .nurture-img{
    margin-right: 60px;
}

#sectstories > h3{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.stories{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.orient-day{
    margin-right: 550px;
}

.orient-day > h3{
    margin-bottom: 20px;
}

.orient-day > .See{
    color: white;
    background-color: #EC4067;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.board > h3{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.board > p{
    margin-left: 100px;
}

.Read{
    color: white;
    background-color: #EC4067;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;

}

#sectboard > .board{
    display: flex;
    justify-content: space-between;
}

.board-img{
    margin-right: 600px;
    margin-top: 50px;
    top: -10px;
    bottom: -50px;
}

#sectgrad > .Grad{
    display: flex;
    justify-content: space-between;
}

.party img{
    margin-top: 30px;
    margin-left: 100px;
}

.Grad-party{
    margin-right: 570px;
}

.Grad-party > h3{
    margin-top: 50px;
    margin-bottom: 20px;
}

.Grad-party > .See{
    color: white;
    background-color: #EC4067;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#sectment > .theTms{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

#sectment > h2{
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 30px;
}

.Rose img{
    margin-bottom: 10px;
}

.Rose > h5{
    margin-bottom: 10px;
}

.Rose > p{
    margin-bottom: 10px;
}

.Rose > .Ask{
    color: white;
    background-color: #EC4067;
    margin-bottom: 3opx;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.Byron img{
    margin-bottom: 10px;
    margin-right: 70px;
}

.Byron > h5{
    margin-bottom: 10px;
}

.Byron > p{
    margin-bottom: 10px;
}

.Byron > .Ask{
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.Raphael img{
    margin-bottom: 10px;
    margin-right: 70px;
}

.Raphael > h5{
    margin-bottom: 10px;
}

.Raphael > p{
    margin-bottom: 10px;
}

.Raphael > .Ask{
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.Karimi img{
    margin-bottom: 10px;
}

.Karimi > h5{
    margin-bottom: 10px;
}

.Karimi > p{
    margin-bottom: 10px;
}

.Karimi > .Ask{
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

 #project > h3{
     margin-left: 100px;
     margin-bottom: 20px;
 }

#project > .proj{
    display: flex;
    justify-content: space-between;
}

#project > h3{
    margin-top: 70px;
}

.proj > .bike-web > h4{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.proj > .bike-web > h2{
    margin-left: 100px;
}

.proj  >.bike-web > p{
    margin-left: 100px;
    margin-top: 20px;
}

.proj > .Learn{
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.bike-img{
    margin-top: 30px;
    margin-right: 500px;
}




