*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap" rel="stylesheet">; 
}

.topnav{
    position: relative;
    overflow: hidden;
}

.topnav > h3{
    margin-top: 40px;
    margin-left: 70px;
}

.topnav a{
    float: left;
    text-decoration: none;
    color: black;

}

.topnav-right{
    float: right;
    margin-right: 100px;
}

.topnav-right > ul > li{
    color: white;
    display: inline-block;
    margin-right: 40px;
    
}

.Enroll{
    margin-right: 30px;
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

#sectmoringa > .m-school > .tech{
    margin-top: 100px;
    margin-left: 5px;
}

#sectmoringa > .m-school > .tech > h4{
    margin-bottom: 10px;
}

#sectmoringa > .m-school > .tech > h2{
    margin-bottom: 20px;
}

#sectmoringa > .m-school > .tech > .Enroll{
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

#sectmoringa > .m-school > .tech > .Explore{
    color: #EC4067;
    background-color: white;
    border-color: #EC4067;
    border-style: rectangle;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#sectmoringa > .m-school{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.m-school > .nurture-img{
    margin-right: 160px;
    margin-top: 20px;
}

.stories{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}


#sectstories > h3{
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(120,120,120);
    font-weight: 700;
 }

 #memory > span{
     font-size: xx-small;
 }

.orient-day{
    margin-right: 550px;
}

.orient-day > h3{
    margin-bottom: 20px;
}

.orient-day > .See{
    color: white;
    background-color: #EC4067;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.board > h3{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.board > p{
    margin-left: 100px;
}

.Read{
    color: white;
    background-color: #EC4067;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;

}

#sectboard > .board{
    display: flex;
    justify-content: space-between;
}

.board-img{
    margin-right: 590px;
    margin-top: 50px;
    top: -10px;
    bottom: -50px;
}

#sectgrad > .Grad{
    display: flex;
    justify-content: space-between;
}

.party img{
    margin-top: 30px;
    margin-left: 100px;
}

.Grad-party{
    margin-right: 570px;
}

.Grad-party > h3{
    margin-top: 50px;
    margin-bottom: 20px;
}

.Grad-party > .See{
    color: white;
    background-color: #EC4067;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

#sectment > .theTms{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.text-left-right{
    text-align: left;
}

.left-text{
    position: absolute;
}

.by-line{
    font-size: x-small;
    margin-left: 200px;
}

#sectment > h2{
    color: rgb(120,120,120);
    font-weight: 900;
    margin-top: 70px;
    margin-left: 90px;
    margin-bottom: 30px;
}

.Rose img{
    margin-bottom: 10px;
}

.Rose > h5{
    margin-bottom: 10px;
    color: #EC4067;
}

.Rose > p{
    margin-bottom: 10px;
}

.Rose > .Ask{
    color: white;
    background-color: #EC4067;
    margin-bottom: 3opx;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.Byron{
    margin-left: 60px;
}

.Byron img{
    margin-bottom: 10px;
    margin-right: 70px;
}

.Byron > h5{
    margin-bottom: 10px;
    color: #EC4067;
}

.Byron > p{
    margin-bottom: 10px;
}

.Byron > .Ask{
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.Raphael{
    margin-right: 100px;
}
.Raphael img{
    margin-bottom: 10px;
    margin-left: 30px;
}

.Raphael > h5{
    margin-bottom: 10px;
    color: #EC4067;
}

.Raphael > p{
    margin-bottom: 10px;
}

.Raphael > .Ask{
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.Karimi{
    margin-right: 55px;
}

.Karimi img{
    margin-bottom: 10px;
    margin-right: 50px;
}

.Karimi > h5{
    margin-bottom: 10px;
    color: #EC4067;
}

.Karimi > p{
    margin-bottom: 10px;
}

.Karimi > .Ask{
    color: white;
    background-color: #EC4067;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}


#project > h3{
    margin-top: 120px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 20px;
 }

 #pro > span{
     font-size: small;
 }

#project > .proj{
    display: flex;
    justify-content: space-between;
}


.proj > .bike-web > h4{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.proj > .bike-web > h2{
    margin-left: 100px;
}

.proj  >.bike-web > p{
    margin-left: 100px;
    margin-top: 20px;
}

.proj > .Learn{
    color: white;
    background-color: #EC4067;
    margin-top: 30px;
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.bike-img{
    margin-top: 20px;
    margin-right: 400px;
}

#sectenroll > .enroll > h2{
    margin-left: 100px;
}

.Enroll {
    margin-left: 10px;
}

.enroll > p > a{
    text-decoration: none;
    color: #EC4067;
}

#sectenroll > .enroll > p{
    margin-top: 20px;
    margin-left: 100px;
}


#sectfooter > .footer{
    text-align: center;
    background-color: lightgray;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer img{
    margin-left: 5px;
    margin-right: 6px;
}




